.cream-box {
    background-color: #9ecbe1;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    font-family: 'Poppins', sans-serif; 
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
    max-width: 400px; 
    margin: 0 auto; 
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.submit-btn {
    background-color: #8c76b9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: #f57c00; 
}