.lilac-box {
    background-color: rgb(156, 156, 205); /* Lilac background color */
    padding: 20px; /* Padding for spacing inside the box */
    color: white; /* White text color */
    border-radius: 8px; /* Optional: Add rounded corners to the box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Box shadow for depth */
    text-align: center; /* Center align text */
}

.lilac-box2 {
    background-color: rgb(168, 168, 200); /* Lilac background color */
    padding: 20px; /* Padding for spacing inside the box */
    color: white; /* White text color */
    border-radius: 8px; /* Optional: Add rounded corners to the box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Box shadow for depth */
    text-align: center; /* Center align text */
    margin: 0 auto; /* Center the box horizontally */
    width: 30%;
    margin-top: 20px; /* Adds space above this div */

}


.lilac-box h3 {
    margin-top: 0; /* Remove default margin for h3 */
}

.lilac-box p {
    font-size: 18px; /* Larger font size for paragraph text */
    line-height: 1.6; /* Adjust line height for better readability */
    max-width: 100%; /* Ensure paragraph takes up full width of its container */
    margin-bottom: 0; /* Remove default bottom margin for p */
}


.about-text {
    flex: 1; /* Take remaining space */
    padding-right: 20px; /* Space between text and image */
}

