.lilac-box {
    background-color: rgb(156, 156, 205); 
    padding: 20px; 
    color: white; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}

.lilac-box2 {
    background-color: rgb(168, 168, 200); 
    padding: 20px; 
    color: white; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    margin: 0 auto; 
    width: 30%;
    margin-top: 20px; 

}


.lilac-box h3 {
    margin-top: 0; 
}

.lilac-box p {
    font-size: 18px;
    line-height: 1.6; 
    max-width: 100%; 
    margin-bottom: 0; 
}


.about-text {
    flex: 1; 
    padding-right: 20px; 
}

