.household-container {
    background-color: #f0f0f0; 
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;

 
  }
  
  .household-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .users-section {
    margin-top: 10px;
  }
  
  .users-section p {
    font-weight: bold;
  }
  
  .users-section ul {
    list-style-type: none; 
    padding: 0;
  }
  
  .users-section li {
    margin-bottom: 5px;
  }

  .household-container-article{
    grid-gap: 2mm;
    padding: 10px;
    margin: 0 auto; 
    max-width: 800px;
  
  }